.services__container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;

}

.service{
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);


}



.service:hover{

    background: transparent;
    border-color: var(--color-primary-varient);
    cursor: default;


}

.service_head{

    background:var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);

}


.service_decription{
    color: var(--color-primary);
}


.service_head h3{

    color: var(--color-bg);
    font-size: 1.5rem;
}

.service_list{
    padding: 2rem;   
}







.service_list-icon{
    
    color: var(--color-primary);
    margin-top: 4px;

}

.service_list p{
    font-size: 1.1rem;
}


.service_list-items li{
    font-size: 0.9rem;
    padding: 0.1rem;
    margin-top: 1rem;
    margin-bottom:1rem;

}



/*-------------------------------------------------------------MEDIA QUERIES(SMALL)---------------------------------------------------------*/

@media screen and (max-width:1024px){

    .services__container{
        grid-template-columns: 1fr 1fr;
        gap:2rem;

    }

    .service{
        height: auto;
    }
}



/*-----------------------------MEDIA QUERIES (Medium DEVICES)--------------------------*/

@media screen and (max-width:600px) {

    .services__container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

}